@import url('https://fonts.googleapis.com/css2? family= Barlow+Semi+Condensed:wght@200;300;500;600 & display=swap');

.cor_De_Fundo{
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/* CSS DO PERFIL DO DANIEL*/
.conteiner_Daniel{
    background-color: hsl(263, 55%, 52%);
    border-radius: 10px;
    width: 45%;
    height: 350px;
    
}

.img_Daniel{
    margin: 30px 0px 0px 30px;
    width: 50px;
    border-radius: 60px;
    border: 2px solid rgba(207, 207, 207, 0.5);
}

.perfil_Daniel{
    position: relative;
    bottom: 50px;
    margin-left: 100px;
    
}

.nome_Daniel{
    color: rgba(255, 255, 255, 0.75);
}

.graduacao_Daniel{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding-top: 5px;
}

.txt_D{
    margin: 0 0 0 30px;
    text-align: justify;
}

.txtD_1{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 0 50px 20px 0;
}

.txtD_2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 20px;
    padding: 0 50px 0 0;
}

/*CSS DO PERFIL DO JONATHAN*/

.conteiner_Jonathan{
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    width: 20%;
    height: 350px;
}

.img_Jonathan{
    margin: 30px 0px 0px 30px;
    width: 50px;
    border-radius: 60px;
    border: 2px solid rgba(207, 207, 207, 0.5);
}

.perfil_Jonathan{
    position: relative;
    bottom: 50px;
    margin-left: 100px;
}

.nome_Jonathan{
    color: rgba(255, 255, 255, 0.75);
}

.graduacao_Jonathan{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding-top: 5px;
}

.txt_J{
    margin: 0 0 0 30px;
    text-align: justify;
}

