@import url('https://fonts.googleapis.com/css2? family= Barlow+Semi+Condensed:wght@200;300;500;600 & display=swap');

.cor_De_Fundo{
    background-color: rgb(236, 242, 248);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.layout{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    gap: 20px;
    
}


/* CSS DO PERFIL DO DANIEL*/
.conteiner_Daniel{
    background-color: rgb(117, 65, 200);
    border-radius: 10px;
    width: 630px;
    height: 320px;
}

.img_Daniel{
    float: left;
    margin: 30px 20px 0 30px;
    width: 50px;
    border-radius: 60px;
    border: 2px solid rgba(207, 207, 207, 0.5);
}

.perfil_Daniel{
    padding: 35px 0 0 0;
}

.nome_Daniel{
    color: rgba(255, 255, 255, 0.75);
}

.graduacao_Daniel{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding-top: 5px;
}

.txt_D{
    margin: 30px 0 0 30px;
    text-align: left;
    line-height: initial;
    font-weight: bold;
}

.txtD_1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 0 50px 20px 0;
}

.txtD_2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    padding: 0 50px 0 0;
    line-height: 20px;
}

/*CSS DO PERFIL DO JONATHAN*/

.conteiner_Jonathan{
    background-color: rgb(72, 85, 106);
    border-radius: 10px;
    width: 300px;
    height: 320px;
}

.img_Jonathan{
    float: left;
    margin: 30px 20px 0 30px;
    width: 50px;
    border-radius: 60px;
    border: 2px solid rgba(207, 207, 207, 0.5);
}

.perfil_Jonathan{
    padding: 35px 0 0 0;
}

.nome_Jonathan{
    color: rgba(255, 255, 255, 0.75);
}

.graduacao_Jonathan{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding-top: 5px;
}

.txt_J{
    margin: 30px 0 0 30px;
    text-align: left;
    line-height: initial;
    font-weight: bold;
}

.txtJ_1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 0 50px 20px 0;
}

.txtJ_2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    line-height: 20px;
    padding: 0 50px 0 0;
}

/*CSS DO PERFIL DA KIRA*/

.conteiner_Kira{
    background-color:  rgb(255, 255, 255);
    border-radius: 10px;
    width: 300px;
    height: 635px;
}

.img_Kira{
    float: left;
    margin: 30px 20px 0px 30px;
    width: 50px;
    border-radius: 60px;
    border: 2px solid rgba(207, 207, 207, 0.5);
}

.perfil_Kira{
    padding: 35px 0 0 0;
}

.nome_Kira{
    color: rgba(0, 0, 0, 0.8); 
}

.graduacao_Kira{
    color:rgba(0, 0, 0, 0.5) ;
    font-size: 14px;
    padding-top: 5px;
}

.txt_K{
    margin: 30px 0 0 30px;
    text-align: left;
    line-height: initial;
    font-weight: bold;
}

.txtK_1{
    color:  rgb(72, 85, 106);
    font-size: 20px;
    padding: 0 0px 20px 0px;
}

.txtK_2{
    color: rgba(0, 0, 0, 0.3);
    font-size: 13px;
    line-height: 20px;
    padding: 0 40px 0 0;
}

/*CSS DO PERFIL DA JEANNETE*/

.conteiner_Jeannete{
    background-color:  rgb(255, 255, 255);
    border-radius: 10px;
    width: 300px;
    height: 300px;
    position: relative;
    bottom: 320px;
}

.img_Jeannete{
    float: left;
    margin: 30px 20px 0 30px;
    width: 50px;
    border-radius: 60px;
    border: 2px solid rgba(207, 207, 207, 0.5);
}

.perfil_Jeannete{
    padding: 35px 0 0 0;
}

.nome_Jeannete{
    color: rgba(0, 0, 0, 0.8); 
}

.graduacao_Jeannete{
    color:rgba(0, 0, 0, 0.5) ;
    font-size: 14px;
    padding-top: 5px;
}

.txt_Jea{
    margin: 30px 0 0 30px;
    text-align: left;
    line-height: initial;
    font-weight: bold;
}

.txt_Jea_1{
    color:  rgb(72, 85, 106);
    font-size: 20px;
    padding: 0 40px 20px 0px;
}

.txt_Jea_2{
    color: rgba(0, 0, 0, 0.3);
    font-size: 13px;
    line-height: 20px;
    padding: 0 20px 0 0;
}

/* CSS DO PERFIL DO PATRICK*/

.conteiner_Patrick{
    background-color: hsl(233, 47%, 7%);
    border-radius: 10px;
    width: 630px;
    height: 300px;
    position: relative;
    bottom: 320px;
}

.img_Patrick{
    float: left;
    margin: 30px 20px 0px 30px;
    width: 50px;
    border-radius: 60px;
    border: 2px solid rgb(117, 65, 200) ;
}

.perfil_Patrick{
    padding: 35px 0 0 0;
}

.nome_Patrick{
    color: rgba(255, 255, 255, 0.75);
}

.graduacao_Patrick{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding-top: 5px;
}

.txt_P{
    margin: 30px 0 0 30px;
    text-align: left;
    line-height: initial;
    font-weight: bold;
}

.txt_P_1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 0 50px 20px 0;
}

.txt_P_2{
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    padding: 0 30px 20px 0;
    line-height: 20px;
}

